.container {
  max-width: 1600px;
  margin: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/*Header*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.747)),
    url("images/ski\ resort1.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 220px;
  padding-bottom: 220px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  color: #08416c;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 32px;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/*Main*/

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-even-cols {
  grid-template-columns: 1fr 1fr 1fr;
}
main img {
  width: 100%;
  border-radius: 5px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  opacity: 30%;
  color: #08416c;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08416c;
  font-size: 40px;
  line-height: 50px;
}

main p {
  margin: 0;
  color: #08416c;
  font-size: 16px;
  line-height: 24px;
}

section.secondary {
  padding-top: 100px;
  background-color: #08416c1a;
  text-align: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  color: #08416c;
  text-align: left;
}

.card-info {
  padding: 32px;
}

.card h4 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.card p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.card h5 {
  margin-bottom: 10px;
  font-weight: 700;
  size: 13px;
  line-height: 20px;
}

.card a {
  color: #fff;
}

.card .button {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #08416c;
  padding: 16px;
  border-radius: 5px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.card-header.grid {
  gap: 0;
  padding: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
/*Footer*/

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.747)),
    url("images/ski\ resort2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.grid {
  display: grid;
  gap: 64px;
  padding: 100px;
}

.grid-3-cols {
  grid-template-columns: 1fr 2fr 2fr;
}

footer h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

footer p {
  opacity: 0.7;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

/*Header Responsive*/

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 60px;
    line-height: 1.5;
  }

  header h2 {
    font-size: 28px;
  }

  header h3 {
    font-size: 16px;
  }

  .grid {
    display: block;
    padding: 30px;
  }
}
